# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Lambda build artifacts
terraform/**/*.zip

# Nix
.direnv/
result
result-*

# Clojure / Datomic local dev
.datomic/
.cpcache/
target/
