# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Lambda build artifacts
terraform/**/*.zip

# Nix
.direnv/
result
result-*

# Datomic dev-local storage
.datomic/

# Clojure CLI classpath cache
.cpcache/
